<%# See all reviews for paper %>
<p id="notice"><%= notice %></p>

<h1>Reviews for «<%= @paper.title %> »</h1>

<ul class="collection">
<% @reviews.each do |review| %>
  <li>

    <%= link_to 'Read',
      reviewer_path(review.paper.id, review.id),
      class: "waves-effect waves-light btn-flat"  %>

    <% if current_user.is_editor? %>
    <span class="title">By <%= review.person.full_name if !review.person.nil? %></span>
    <% end %>

    <span class="new badge <%= review_get_color_progression(review.progression) %>" data-badge-caption="">
      <%= review.progression if review.progression %>
    </span>
    <span class="new badge <%= review_get_color_status(review.status) %>" data-badge-caption="">
      <%= get_status(review.status) if review.status %>
    </span>
  </li>
<% end %>
</ul>


<%= link_to "Back to paper",
    paper_path(@paper),
    class: "btn" %>
