<p id="notice"><%= notice %></p>

<h1>Reviews for «<%= @paper.title %> »</h1>

<%
    @reviews = Reviewer.where(paper_id: @paper.id)
%>

<table class="bordered">
  <thead>
    <tr>
      <th></th>
      <!-- <th>By</th> Anonymous ! -->
      <th>Status</th>
      <th>Content</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @reviews.each do |review| %>
      <tr>
        <td><%= link_to 'Read',
            "/papers/#{@paper.id}/reviews/#{review.id}",
            class: "waves-effect waves-light btn-flat"  %></td>
        <%#= review.person.full_name if !review.person.nil? %>
        <td><%= get_status(review.status) %></td>
        <td><%= review.content %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to "Back to paper",
    "/papers/#{@paper.id}",
    class: "btn" %>

<%= link_to "Add a Review",
    "/papers/#{@paper.id}/reviews/new",
    class: "btn" %>
