<p id="notice"><%= notice %></p>

<h1>Review</h1>


<p>
  Paper: <strong><%= link_to @reviewer.paper.title, @reviewer.paper %></strong>
</p>

<% if current_user.is_editor? %>
  <p>
    Reviewed by <%= link_to "#{@reviewer.person.firstname} #{@reviewer.person.lastname}", @reviewer.person %>
  </p>
<% end %>

<span class="notice-bg inline <%= review_get_color_progression(@reviewer.progression) %>">
  <%= @reviewer.progression if @reviewer.progression %>
</span>

<span class="notice-bg inline <%= review_get_color_status(@reviewer.status) %>">
  <%= get_review_status(@reviewer.status) if @reviewer.status %>
</span>

<div class="card blue-grey lighten-4">
  <div class="card-content row">

    <blockquote>
      <%= @reviewer.content %>
    </blockquote>

  </div>
</div> <!-- end card -->

<% if current_user.is_reviewer_of?(@reviewer.paper) && @reviewer.progression != 'done' %>
  <%= link_to "Edit",
      edit_reviewer_path(@reviewer),
      class: "btn" %>

  <%= link_to "Destroy",
     @reviewer,
     method: :delete,
     data: { confirm: 'Are you sure?' },
     class: "btn" %>
<% end %>
