<div class="row">

<% papers.each do |paper| %>
<!-- - - - - - - - - - - - - - - - - PAPER - - - - - - - - - - - - - - - - - - -->
  <div class="card col m8 offset-m2">
  <div class="card-content">

  <span class="title">
    <% if paper.is_refused? %>
    <span class="red-text"><strong>[Refused]</strong></span>
    <% elsif paper.is_pending_waiting? %>
    <span class="red-pending"><strong>[Pending]</strong></span>
    <% end %>
    <%= link_to paper.title, paper %>
  </span>

  <div class="right right-align">
    <%= render 'reading_lists/partials/save_button', :paper => paper if logged_in? %>
    <small>
      <p><%= paper.category.name if paper.category %></p>
      <p><%= paper.created_at.strftime("%d %B %Y") %></p>
    </small>
  </div>

  <p>
    <span itemprop="authors">
      <% paper.get_authors.each do |author| %>
      <%= author.full_name %>
      <% end %>
    </span>
  </p>

<% if logged_in?  %>
  <%= link_to "Review n. #{paper.reviews_count}", reviews_path(paper.id) if paper.reviews_count %>
  <%= render 'reviews/partials/short_preview', :reviews => paper.get_last_reviews %>
  <%= link_to 'Review the paper', paper if paper.all_reviews_done? %>
<% end %>

  </div>
</div>
<% end %>

</div>
