<!-- <ul class="collection"> -->
<div class="row">
<% papers.each do |paper| %>
  <!-- <li class="collection-item avatar"> -->
  <div class="card col m8 offset-m2">
  <div class="card-content">


  <span class="title">
    <%= link_to paper.title, paper %>
  </span>

  <div class="right right-align">
    <p><a href="<%= reading_list_save(paper.id) %>" id="save_to_reading_list">
      <i title="Add to your reading list" class="material-icons blue-grey-text">bookmark_border</i>
    </a></p>
    <small>
      <p><%= paper.category.name if paper.category %></p>
      <p><%= paper.created_at.strftime("%d %B %Y") %></p>
    </small>
  </div>

  <p>
    <span itemprop="authors">
      <% paper.get_authors.each do |author| %>
      <%= author.full_name %>
      <% end %>
    </span>
  </p>

  <%= link_to "Review n. #{paper.reviews_count}", reviews_path(paper.id) if paper.reviews_count %>
  <%= render 'reviews/partials/short_preview', :reviews => paper.get_last_reviews %>

  <%= link_to 'Review the paper', paper if paper.all_reviews_done? %>

  <!-- <a href="#!" title="Add to your reading list" class="secondary-content"><i class="material-icons">book</i></a> -->
</div>
</div>
<!-- </li> -->

<% end %>
</div>
<!-- </ul> -->
