
<div class="reviews-process">

<%= # EDITOR: ASK REVIEWS

if current_user.is_editor?

  if @paper.all_reviews_done?
    render 'reviews/partials/validate'
  elsif @paper.can_be_reviewed?
    render 'reviews/partials/new'
  elsif @paper.is_pending_opinion?  # EDITOR: IF OPINION, ONLY VALIDATE
    render 'reviews/partials/new_opinion'
  end

end  %>

<%=
  if @paper.need_revision?
    'Paper needs revision !'
  else
    'Paper does not need revision (yet)'
  end
%>

<% # AUTHOR
if current_user.wrote?(@paper) && @paper.all_reviews_done? %>

<div class="row">
  <h3>Your paper has been reviewed.</h3>
  <div class="col l3 m12 s12">
    <p> Read the reviews </p>
    <p><%= link_to 'Read the reviews', reviews_path(@paper.id), class: "btn" %></p>
  </div>
  <div class="col l3 m6 s12">
    <p>Please read the reviews and update your paper consequently.</p>
    <p><%= link_to 'Update your paper', edit_paper_path(@paper), class: "btn" %></p>
  </div>
  <div class="col l3 m6 s12">
    <p>Once your paper is edited, please ask the editor to review it again</p>
    <p><%= link_to 'Signal correction finished ', signal_edition_finished_path(@paper), class: "btn" %></p>
  </div>
  <div class="col l3 m6 s12">
    <p>You can ask the editor questions if you have any</p>
    <p><a href="#" class="btn">Ask</a><%#= link_to 'Ask', ask_editor_about(@paper), class: "btn" %></p>
  </div>
</div>




<%   #  REVIEWER
elsif current_user.should_review?(@paper) %>

  <%= link_to 'Start reviewing',
    edit_review_path(@paper.id, @paper.get_review_by(current_user)),
    class: "btn color2bg" %>

<% elsif current_user.is_reviewing?(@paper) %>

  <%= link_to 'Continue or edit your review',
    edit_review_path(@paper.id, @paper.get_review_by(current_user)),
    class: "btn color2bg" %>

<% elsif current_user.reviewed?(@paper) %>

  <%= link_to 'See your review',
    review_path(@paper.id, @paper.get_review_by(current_user)),
    class: "btn" %>

    <% end  # end reviews %>

</div>
