<%
  provide(:title, "Welcome #{@current_user.firstname}")
  @pending_reviews = current_user.get_pending_reviews
%>

<div class="row">
  <div class="col s8">
    <h2> Welcome <%= @current_user.firstname %></h2>

    <h3>Latest articles</h3>
    <blockquote>
      Here is a list of the last articles published that might interest you
    </blockquote>

    <% if @pending_reviews.count > 0 %>
    <h3>Your current reviews</h3>
      Find below the works you are currently reviewing
    <%= render 'reviews/partials/review_list', :reviews => @pending_reviews %>
    <% end %>

  </div>

  <div class="col s4">

    <div class="input-field">
      <label for="search">
        <i class="material-icons prefix">search</i>
      </label>
      <input id="search" type="search" placeholder="Search an article, an author, a keyword…">
    </div>

    <p><%= link_to 'Publish a paper', new_paper_path, class: 'btn-large color2bg' %></p>

    <p>
      <%= link_to 'your reviews', user_reviews_path, class: 'btn' %>
    </p>
    <p>
      <%= link_to 'your articles', user_papers_path(@current_user.id), class: 'btn' %>
    </p>

  </div>
</div>
