<%
  provide(:title, "Admin #{@current_user.firstname}")
%>

<div class="row">
  <div class="col m8">
    <p>TODO: backend for managing</p>
    <h2>Welcome <%= @current_user.firstname %> (admin)</h2>

    <h3>papers</h3>
    There is currently <%= Paper.all.count %> articles.

    <h3>reviews</h3>

  </div>

  <div class="col m4">

    <div class="input-field">
      <label for="search">
        <i class="material-icons prefix">search</i>
      </label>
      <input id="search" type="search" placeholder="Search an article, an author, a keyword…">
    </div>

    <h3>Papers</h3>
    <p> <%= link_to 'All', papers_all_path, class: 'btn-flat' %> </p>
    <p> <%= link_to 'Pending', papers_pending_path, class: 'btn-flat' %> </p>
    <p> <%= link_to 'Refused', papers_refused_path, class: 'btn-flat' %> </p>
    <p> <%= link_to 'Published', papers_path, class: 'btn-flat' %> </p>

  </div>
</div>
