<% provide(:title, "Welcome") %>

<h1>Scientific publications in open-access</h1>

<ul>
    <ul>
        <li><%= link_to "Papers", papers_path %></li>
        <li><%= link_to "People", people_path %></li>
    </ul>
    <!-- <ul>
        <li><%= link_to "Authors", authors_path %></li>
    </ul> -->
    <ul>
        <li><%= link_to "Categories", categories_path %></li>
        <li><%= link_to "Reading Lists", reading_lists_path %></li>
    </ul>
</ul>
