<%= form_for(reading_list) do |f| %>
  <% if reading_list.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(reading_list.errors.count, "error") %> prohibited this reading_list from being saved:</h2>

      <ul>
      <% reading_list.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :person_id %>
    <%= f.text_field :person_id %>
  </div>

  <div class="field">
    <%= f.label :paper_id %>
    <%= f.text_field :paper_id %>
  </div>

  <div class="field">
    <%= f.label :reading_list_folder_id %>
    <%= f.text_field :reading_list_folder_id %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
