<%= form_for(reading_list) do |f| %>
  <% if reading_list.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(reading_list.errors.count, "error") %> prohibited the reading list from being saved:</h2>

      <ul>
      <% reading_list.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="switch">
    <label>
      Visibility: Private
      <input name="reading_list[visibility]" type="checkbox" value="1" <%='checked' if reading_list.visibility == 1%>>
      <span class="lever"></span>
      Public
    </label>
  </div>

  <br/>

  <div class="actions">
    <%= f.submit 'Save', :class => "btn"  %>
  </div>
<% end %>
