<%= form_for(person) do |f| %>
  <% if person.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(person.errors.count, "error") %> need correction before you can sign up:</h2>
      <ul class="collection">
      <% person.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<h3>Personal details</h3>
<div class="row">
  <div class="input-field col s6">
    <%= f.label :firstname %>
    <%= f.text_field :firstname %>
  </div>

  <div class="input-field col s6">
    <%= f.label :lastname %>
    <%= f.text_field :lastname %>
  </div>

  <div class="input-field col s12">
    <%= f.label "Short biography" %>
    <%= f.text_area :bio, class: "materialize-textarea", length: "1000" %>
  </div>
</div>


<h3>Website related</h3>
<div class="row">

  <div class="input-field col s4">
    <select class="" name="person[status]">
      <option disabled selected>Please choose an option</option>
      <% possible_website_status.each do |website_status| %>
      <option value="<%= website_status %>"><%= website_status %></option>
      <% end %>
    </select>
    <%= f.label :status %>
  </div>

  <div class="input-field col s8">
    <select id="interests" name="person[interests]" multiple>
      <option selected disabled>Please choose one or many options</option>
    <% Category.all.each do |category| %>
      <option value="<%= category.id %>"><%= category.name %></option>
    <% end %>
  </select>
  <label for="interests">Interests</label>
  </div>
</div>



<h3>University life</h3>

<div class="row">
  <div class="input-field col s4">
    <label for="person_university">University</label>
    <input type="text" name="person[university]" id="person_university" />
  </div>

  <div class="input-field col s4">
    <select name="person[level]">
      <option disabled selected>Please choose an option</option>
      <% possible_uni_status.each do |uni_status| %>
      <option value="<%= uni_status %>"><%= uni_status %></option>
      <% end %>
    </select>
    <%= f.label :level %>
  </div>

  <div class="input-field col s4">
    <%= f.label :country %>
    <%= f.text_field :country %>
  </div>
</div>

<h3>External sites</h3>

<div class="row">
  <div class="input-field col s6">
    <%= f.label :academia_url %>
    <%= f.text_field :academia_url %>
  </div>

  <div class="input-field col s6">
    <%= f.label :research_gate_url %>
    <%= f.text_field :research_gate_url %>
  </div>

</div>


  <div class="actions">
    <%= f.submit 'Validate', :class => "btn"  %>
  </div>

<% end %>
