<%= form_for(person) do |f| %>
  <% if person.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(person.errors.count, "error") %> need correction before you can sign up:</h2>
      <ul class="collection">
      <% person.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<h3>Personal details</h3>

  <div class="input-field col s6">
    <%= f.label :firstname %>
    <%= f.text_field :firstname %>
  </div>

  <div class="input-field col s6">
    <%= f.label :lastname %>
    <%= f.text_field :lastname %>
  </div>

  <div class="input-field col s12">
    <%= f.label "Short biography" %>
    <%= f.text_area :bio, class: "materialize-textarea", length: "1000" %>
  </div>

<h3>University life</h3>

  <div class="input-field col s4">
    <label for="person_university">University</label>
    <input type="text" name="person[university]" id="person_university" />
  </div>

  <div class="input-field col s4">
    <%= f.label :level %>
    <select name="person[level]">
        <option disabled selected></option>
    <% possible_status.each do |level| %>
        <option value="<%= level %>"><%= level %></option>
    <% end %>
    </select>
  </div>

  <div class="input-field col s4">
    <%= f.label :country %>
    <%= f.text_field :country %>
  </div>

<h3>External sites</h3>

  <div class="input-field col s6">
    <%= f.label :academia_url %>
    <%= f.text_field :academia_url %>
  </div>

  <div class="input-field col s6">
    <%= f.label :research_gate_url %>
    <%= f.text_field :research_gate_url %>
  </div>



  <div class="actions">
    <%= f.submit 'Validate', :class => "btn"  %>
  </div>

<% end %>
