<%= form_for(person) do |f| %>
  <% if person.errors.any? %>
    <div id="error_explanation">
      <h2>There was <%= pluralize(person.errors.count, "error") %>:</h2>
      <ul class="collection">
      <% person.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="row">

  <div class="input-field col offset-s3 s6">
    <%= f.label :password, "Current password"%>
    <%= f.password_field :password %>
  </div>

  <div class="input-field col offset-s3 s6">
    <%= f.label :password_new, "New password"%>
    <%= f.password_field :password_new %>
  </div>

  <div class="input-field col offset-s3 s6">
    <%= f.label :password_confirmation, "Confirm the new password" %>
    <%= f.password_field :password_confirmation %>
  </div>

</div>

<div class="row">

  <div class="actions">
    <%= f.submit 'Validate', :class => "btn"  %>
  </div>
</div>
<% end %>
