<%= form_for(person) do |f| %>
  <% if person.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(person.errors.count, "error") %> prohibited this person from being saved:</h2>

      <ul>
      <% person.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="input-field col s12">
    <%= f.label :email %>
    <%= f.email_field :email %>
  </div>

  <div class="input-field col s6">
    <%= f.label :password %>
    <%= f.password_field :password %>
  </div>

  <div class="input-field col s6">
    <%= f.label :password_confirmation, "Password Confirmation" %>
    <%= f.password_field :password_confirmation %>
  </div>


  <div class="input-field col s6">
    <%= f.label :firstname %>
    <%= f.text_field :firstname %>
  </div>

  <div class="input-field col s6">
    <%= f.label :lastname %>
    <%= f.text_field :lastname %>
  </div>

<!--
  <div class="input-field col s12">
    <%= f.label :bio %>
    <%= f.text_area :bio, class: "materialize-textarea" %>
  </div>

  <div class="input-field col s4">
    <%= f.label :status %>
    <%= f.text_field :status %>
  </div>

  <div class="input-field col s4">
    <%= f.label :level %>
    <%= f.text_field :level %>
  </div>

  <div class="input-field col s4">
    <%= f.label :country %>
    <%= f.text_field :country %>
  </div>

  <div class="input-field col s6">
    <%= f.label :academia_url %>
    <%= f.text_field :academia_url %>
  </div>

  <div class="input-field col s6">
    <%= f.label :research_gate_url %>
    <%= f.text_field :research_gate_url %>
  </div>
-->
  <div class="actions">
    <%= f.submit 'Sign Up', :class => "btn"  %>
  </div>
<% end %>
