<% provide(:title, "People list") %>

<p id="notice"><%= notice %></p>

<h1>admin/ List of registered users</h1>

<ul class="collection">
  <% @people.each do |person| %>
  <li>

  <%= link_to 'View',
    person,
    class: "btn-flat" %>

    <%= gravatar_for(person, size: 32) %>

    <%= person.firstname %> <%= person.lastname %>

    <% unless person.status.blank? %>
      <span class="new badge <%= get_status_color(person.status) %>" data-badge-caption=""><%= person.status %></span>
    <% end %>

    <span class="badge"><%= person.email %></span>

  </li>

<% end %>
</ul>
