<% provide(:title, "#{@person.firstname} #{@person.lastname}") %>
<p id="notice"><%= notice %></p>

<% if !@person.status.nil? %>
<div class="chip">
    <%= @person.status %>
</div>
<% end %>

<div class="row">
  <div class="col s2">
    <%= gravatar_for(@person, size: 150)  %>
  </div>

  <div class="col s8">
    <h2 class="header"><%= @person.firstname %> <%= @person.lastname %></h2>
    <div class="chip">
      <%= @person.email %>
    </div>

    <% unless !@person.bio.blank? %>
    <blockquote>
      <%= @person.bio %>
    </blockquote>
    <% end %>
  </div>

  <div class="col s2">

    <div class="center">
      <%= link_to 'ResearchGate', @person.research_gate_url, class: "btn" %>
      <br /> <br />
      <%= link_to 'Academia', @person.academia_url, class: "btn" %>
    </div>

      <p><%= @person.level unless @person.level.blank? %></p>
      <p><%= @person.country unless @person.country.blank? %></p>
  </div>
</div>

<% unless @person.get_papers.blank?  %>

    <% if is_logged_in_user?(@person) %>
    <h2>Your papers</h2>
    <%= link_to 'Submit a new paper', new_paper_path, class: "btn-large" %>
    <% else %>
    <h2>Published papers</h2>
    <% end %>

    <div class="collection">
      <% @person.get_papers.each do |paper| %>
      <a class="collection-item" href="<%= paper_path(paper) %>">
            <%= paper.title %>
            <% if !paper.publication_date.nil? %>
              <span class="badge"> Published on <%= paper.publication_date.strftime("%d %B %Y") %> </span>
            <% end %>
            <% if !paper.category.nil? %>
              <span class="badge"><%= paper.category.name %> </span>
            <% end %>
      </a>
      <%#= link_to paper.title, paper, class: "collection-item avatar" %>
      <% end # end each paper %>

    </div>
<% else %>

    <%= link_to 'Publish a paper', new_paper_path, class: "btn-large" %>

<% end %>


<% if is_logged_in_user? @person %>
<div>
<h2>Manage your profile</h2>

    <%= link_to 'Edit profile',
        edit_person_path(@person),
        class: "btn" %>

    <%= link_to 'Change your password',
        edit_password_path(@person),
        class: "btn" %>

    <%= link_to 'Delete profile',
        @person, method: :delete,
        data: { confirm: 'Are you sure?' },
        class: "btn-flat" %>
<% end %>

</div>
