<% provide(:title, "#{@person.firstname} #{@person.lastname}") %>


<div class="row">
  <div class="col s3">
    <%= gravatar_for(@person, size: 150)  %>
  </div>

  <div class="col s5">
    <h2 class="header"><%= @person.firstname %> <%= @person.lastname %></h2>
    <%#= @person.email # private %>

    <% unless @person.status.blank? %>
    <h3> <%= @person.status %> </h3>
    <% end %>

    <% unless @person.bio.blank? %>
    <blockquote>
      <%= @person.bio %>
    </blockquote>
    <% end %>
  </div>

  <div class="col s4">

    <% if is_logged_in_user? @person %>

<h2>Manage your profile</h2>

    <p><%= link_to 'Edit profile', edit_person_path(@person), class: "btn" %></p>

    <p><%= link_to 'Change your password', edit_password_path(@person), class: "btn" %></p>

    <p><%= link_to 'Delete profile',
        @person, method: :delete,
        data: { confirm: 'Are you sure?' },
        class: "btn-flat waves-effect waves-red" %></p>
<% end %>

    <div class="center">
      <% unless @person.research_gate_url.blank? %>
      <%= link_to 'ResearchGate', @person.research_gate_url, class: "btn" %>
      <% end %>
      <br /> <br />
      <% unless @person.academia_url.blank? %>
      <%= link_to 'Academia', @person.academia_url, class: "btn" %>
      <% end %>
    </div>

    <p><%= @person.level unless @person.level.blank? %></p>
    <p><%= @person.country unless @person.country.blank? %></p>
  </div>
</div>

<% if logged_in? && current_user.is_admin? && !@person.activated %>
  <%= link_to 'Activate', person_activate_path(@person), class: 'btn red' %>
<% end %>

<% unless @person.get_papers.blank?  %>

    <% if is_logged_in_user?(@person) %>
    <h2>Your papers</h2>
    <%= link_to 'Submit a new paper', new_paper_path, class: "btn-large" %>
    <% else %>
    <h2>Published papers</h2>
    <% end %>

    <%= render 'papers/partials/paper_list', :papers => @person.get_papers %>

<% else %>

    <%= link_to 'Publish a paper', new_paper_path, class: "btn-large" %>

<% end %>
