<p id="notice"><%= notice %></p>


<h2>
    <%= @person.firstname %> <%= @person.lastname %>
</h2>

<p>
  <div class="chip">
      <%= @person.email %>
  </div>
</p>

<p>
  <strong>Status:</strong>
  <%= @person.status %>
</p>

<blockquote>
  <%= @person.bio if ! @person.bio.nil? %>
</blockquote>

<p>
  <strong>Level:</strong>
  <%= @person.level %>
</p>

<p>
  <strong>Country:</strong>
  <%= @person.country %>
</p>


<%= link_to 'Academia', @person.academia_url, class: "btn" %>
<%= link_to 'Research Gate', @person.research_gate_url, class: "btn" %>

<h2>Papers</h2>

<div class="collection">
    <% @person.get_papers.each do |paper| %>

    <%= link_to paper.title,
        paper,
        class: "collection-item" %>

    <% end %>
</div>

<div class="row"> </div>

<%= link_to 'Edit profile',
    edit_person_path(@person),
    class: "btn" %>


<%= link_to 'Delete profile',
    @person, method: :delete,
    data: { confirm: 'Are you sure?' },
    class: "btn-flat" %>
