<%= form_for(paper) do |f| %>
  <% if paper.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(paper.errors.count, "error") %> prohibited this paper from being saved:</h2>

      <ul>
      <% paper.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="row">

  <div class="field col s4">
    <label for="paper_pub_date">Publication date</label>
    <input type="date" id="paper_pub_date" name="paper[pub_date]">
  </div>

  <div class="field col s4">
    <label for="paper_category">Category</label>
    <select id="paper_category" name="paper[category]">
        <!-- <option disabled selected>Category</option> -->
        <% Category.all.each do |cat| %>
        <option value="<%=cat.id %>"><%= cat.name %></option>
        <% end %>
    </select>
  </div>

  <div class="field col s4">
      <label for="paper_type">Type</label>
      <select id="paper_type" name="paper[paper_type]">
          <!-- <option disabled selected>Type</option> -->
          <% get_paper_types.each do |type| %>
          <option value="<%=type %>"><%= type %></option>
          <% end %>
      </select>
  </div>

  <div class="field col s12">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>


  <div class="field col s3">
      <label for="keywords">Keywords</label>
      <div id="keywords" class="chips chips-placeholder"></div>
  </div>

  <div class="field col s9">
    <%= f.label :abstract %>
    <%= f.text_area :abstract, class: "materialize-textarea" %>
  </div>

  <div class="field col s10">
      <%= f.label :html_content %>
      <%= f.text_area :html_content, class: "materialize-textarea" %>
  </div>

  <div class="field col s2">
    <%= f.label :tex_content %>
    <%= file_field_tag :tex_content %>
    <div class="file-path-wrapper">
        <input class="file-path validate" type="text" placeholder="Upload one or more files">
    </div>
  </div>

  <div class="field col s10">
    <div class="actions">
    <%= f.submit 'Save', :class => "btn"  %>
    </div>
  </div>


</div>
<% end %>
