<p id="notice"><%= notice %></p>

<h1>Papers</h1>

    <% @papers.each do |paper| %>
    <div class="card blue-grey lighten-4">
        <div class="card-content">
            <span class="card-title"><%= paper.title %></span>

            <p>By <%= get_list_name(paper.get_authors) %></p>

            <p>Published on <%= paper.created_at.strftime("%Y-%m-%d") %></p>
            <div class="chip"><%= paper.category.name if !paper.category.nil? %></div>
            <div class="badge"><%= paper.paper_type %></div>
        </div>
        <div class="card-action">
            <%= link_to 'Read', paper, class: "btn" %>
            <% if ! paper.pdf_url.nil? %>
            <%= link_to '↓PDF', paper.pdf_url, class: "btn" %>
            <% end %>
        </div>
    </div>

    <% end %>
