<%
    authors = @paper.get_authors_as_name_list(initials: true)
    provide(:title, "« #{@paper.title} » by #{authors}" )
%>

<p class="DEBUG">
  <strong> (<%= @paper.paper_type unless @paper.category.blank? %>) </strong> /
  <%= get_paper_status(@paper.status) if @paper.status %> /
  <%= link_to @paper.category.name, @paper.category unless @paper.category.blank? %>
</p>

<h1 itemprop="title"><%= @paper.title %></h1>

<%= render 'papers/partials/show_review_process' if logged_in? %>

<%# UNPUBLISHED PAPER: CONTENT IS NOT AVAILABLE %>
<% if @paper.is_refused? %>

  <p class="notice error">
    This paper has been refused. <br />
    It is therefore not accessible to the public.
  </p>

<% elsif @paper.is_under_review? %>

  <p class="notice">
    This paper is currently under review. <br />
    It will be made available once the peer-review process is finished.
  </p>
<% end %>

<div class="row">

  <!-- Metadata -->
  <div class="col m3 push-m9">

    <% if logged_in? && current_user.wrote?(@paper) %>
      <div class="right-align">
          <%= link_to 'Edit', edit_paper_path(@paper), class: 'btn-flat' %>
          <%= link_to 'Delete', @paper, method: :delete, data: { confirm: t('paper.delete.confirmation') },
              class: 'btn-flat waves-effect waves-red' %>
      </div>
    <% end #  if author %>

    <div class="card">
      <div class="card-content">
        <p>
          <span class="small-title">Authors</span>
          <span itemprop="authors">
            <% @paper.get_authors.each do |author| %>
            <%= link_to "#{author.full_name}", author %>
            <% end %>
          </span>

          <% unless @paper.publication_date.blank? %>
          <p itemprop="date-published">
              <span class="small-title">Published</span>
              <%= @paper.publication_date.strftime("%d %B %Y") %>
          </p>
          <% end %>

          <p itemprop="keywords">
              <span class="small-title">Keywords</span>
              <% @paper.get_keywords.each { |k| link_to k.keyword, k, class: 'keyword' } %>
          </p>

          <%= link_to "PDF #{icon_download('white-text')}".html_safe, @paper.pdf_url, class: "btn" unless @paper.pdf_url.blank? %>

        </p>
      </div>
    </div> <!-- end card -->

  </div>

  <!-- Content -->
  <div class="col s12 m9">
      <div id="abstract">
        <%= @paper.abstract unless @paper.abstract.blank? %>
      </div>
  </div>

</div>


<div class="row">

  <div class="col s12 m8 pull-m2">
    <% if @paper.is_published? ||
          (logged_in? && current_user.can_read?(@paper)) %>
      <blockquote id="content">
        <p><%= @paper.html_content unless @paper.html_content.blank? %></p>
      </blockquote>
    <% end %><!-- end content -->

    <div class="col s12 m2">
      <div class="footnote">
        A footnote
      </div>
    </div>

  </div>

</div>
