<%
    authors = @paper.get_authors_as_name_list(initials: true)
    provide(:title, "« #{@paper.title} » by #{authors}" )
%>

<p id="notice"><%= notice %></p>

<p>
  <strong> (<%= @paper.paper_type unless @paper.category.blank? %>) </strong>

  <span class="new badge <%= paper_get_color_status(@paper.status) %>" data-badge-caption="status">
    <%= get_paper_status(@paper.status) if @paper.status %>
  </span>

  <%= link_to @paper.category.name, @paper.category unless @paper.category.blank? %>
</p>

<% if logged_in? %>

<%#  AUTHOR: EDIT PAPER  %>
<% if current_user.wrote?(@paper) %>
  <div class="right-align">
      <%= link_to 'Edit',
          edit_paper_path(@paper),
          class: "btn-flat" %>

      <%= link_to 'Delete',
          @paper, method: :delete,
          data: { confirm: 'Are you sure? Please enter the reason why below.
            A confirmation to the editor will then be sent.' },
          class: "btn-flat waves-effect waves-red" %>
  </div>
<% end # if if author %>

<%# EDITOR: ASK REVIEWS  %>
<%= if @paper.can_be_reviewed? && current_user.is_editor? && !current_user.wrote?(@paper)
  render 'reviews/new'
end %>

<%#  SEE REVIEWS  %>
<div class="center-align">

  <%= if current_user.should_review?(@paper)

      link_to 'Start reviewing',
        new_review_path(@paper.id),
        class: "btn red"

    elsif current_user.is_reviewing?(@paper)

      link_to 'Continue or edit your review',
        edit_review_path(@paper.get_review_by(current_user)),
        class: "btn color2bg"

    elsif current_user.reviewed?(@paper)

      link_to 'See your review',
        review_path(@paper.get_review_by(current_user)),
        class: "btn"

    elsif current_user.is_editor? || (current_user.wrote?(@paper) && @paper.has_reviews?)

      link_to 'Read the reviews',
        reviews_path(@paper.id),
        class: "btn"

  end %>
</div>

<% end # end if logged_in? %>

<h1>
  <em><span itemprop="title"><%= @paper.title %></span></em>
</h1>

<div class="card">
  <div class="card-content row">
    <div class="col s6">
      <strong>Authors</strong>
      <span itemprop="authors">
        <% @paper.get_authors.each do |author| %>
        <%= link_to "#{author.full_name}", author %>
        <% end %>
      </span>
    </div>

    <div class="col s6">
      <strong>Metadata</strong>
      <% unless @paper.publication_date.blank? %>
      <p itemprop="date-published" id="published-at">
          Published on <span><%= @paper.publication_date.strftime("%d %B %Y") %></span>
      </p>
      <% end %>
    </div>

    <%= unless @paper.pdf_url.blank?
         link_to raw('↓ PDF'),
            @paper.pdf_url,
            class: "btn"
    end %>

  </div>
</div> <!-- end card -->

<h3>Abstract</h3>

<blockquote id="abstract">
  <%= @paper.abstract %>
</blockquote>

<div class="divider"></div>

<% if @paper.status.to_i == 2 %>

  <h3>Content</h3>

  <blockquote id="content">
    <p><%= @paper.html_content.html_safe  unless @paper.html_content.blank? %></p>
  </blockquote>

<% elsif @paper.status.to_i == 3 %>

  <p class="notice error">This paper has been refused</p>
  <p>It is therefore not accessible to the public.
  You can <%= link_to 'Read the reviews here', reviews_path(@paper.id) %> (TODO anonymise them).</p>

<% else %>

  This paper is currently under review. It will be made available one the peer-review process is finished.

<% end %><!-- end content -->
