<%
    authors = @paper.get_authors_as_name_list(initials: true)
    provide(:title, "« #{@paper.title} » by #{authors}" )
%>
<p id="notice"><%= notice %></p>



<p class="DEBUG">
  <strong> (<%= @paper.paper_type unless @paper.category.blank? %>) </strong> /
  <%= get_paper_status(@paper.status) if @paper.status %> /
  <%= link_to @paper.category.name, @paper.category unless @paper.category.blank? %>
</p>



<h1 itemprop="title"><%= @paper.title %></h1>


<%= render 'papers/partials/show_review_process' if logged_in? %>



<%# UNPUBLISHED PAPER: CONTENT IS NOT AVAILABLE %>
<% if @paper.is_refused? %>

  <p class="notice error">
    This paper has been refused. <br />
    It is therefore not accessible to the public.
  </p>

<% elsif @paper.is_under_review? %>

  <p class="notice">
    This paper is currently under review. <br />
    It will be made available once the peer-review process is finished.
  </p>
<% end %>



<div class="row">

  <!-- Metadata -->
  <div class="col l3 push-l9">

    <% if logged_in? && current_user.wrote?(@paper) %>
      <div class="right-align">
          <%= link_to 'Edit', edit_paper_path(@paper), class: "btn-flat" %>
          <%= link_to 'Delete', @paper, method: :delete, data: { confirm: t('paper.delete.confirmation') },
              class: "btn-flat waves-effect waves-red" %>
      </div>
    <% end #  if author %>

    <div class="card">
      <div class="card-content">
        <p>
          <span class="small-title">Authors</span>
          <span itemprop="authors">
            <% @paper.get_authors.each do |author| %>
            <%= link_to "#{author.full_name}", author %>
            <% end %>
          </span>

          <% unless @paper.publication_date.blank? %>
          <p itemprop="date-published">
              <span class="small-title">Published</span>
              <%= @paper.publication_date.strftime("%d %B %Y") %>
          </p>
          <% end %>

          <% unless @paper.keywords.blank? %>
          <p itemprop="keywords">
              <span class="small-title">Keywords</span>
              <% keywords = JSON.parse @paper.keywords %>
              <%= keywords.each { |keyword| "<div class='chip'>#{keyword}</div>" } %>
          </p>
          <% end %>

          <%= link_to raw('↓ PDF'), @paper.pdf_url, class: "btn" unless @paper.pdf_url.blank? %>

        </p>
      </div>
    </div> <!-- end card -->

  </div>



  <!-- Content -->
  <div class="col l9 pull-l3">

      <p id="abstract">
        <span class="small-title">abstract</span>
        <%= @paper.abstract.html_safe unless @paper.abstract.blank? %>
      </p>

      <% if @paper.is_published? ||
            (logged_in? &&
               (current_user.wrote?(@paper) ||
                current_user.is_editor? ||
                current_user.is_reviewer_of?(@paper))) %>
      <%# TODO person.can_see_paper?(@paper)  %>

        <h3>Content</h3>

        <blockquote id="content">
          <p><%= @paper.html_content.html_safe unless @paper.html_content.blank? %></p>
        </blockquote>

      <% end %><!-- end content -->

  </div>





</div>
