<%
    authors = get_list_name(@paper.get_authors, initials: true)
    provide(:title, "« #{@paper.title} » by #{authors}" )
%>

<p id="notice"><%= notice %></p>

<p>
  <strong> <%= @paper.paper_type %> </strong>
  /
  <%= @paper.category.name if !@paper.category.nil?  %>
  /
  <% if @paper.status == 1 %>
  Accepted
  <% elsif @paper.status == 0 %>
  Rejected
  <% else %>
  Pending
  <% end %>
</p>

<% if current_user.wrote? @paper %>
<div class="right-align">
    <%= link_to 'Edit',
        edit_paper_path(@paper),
        class: "btn-flat" %>

    <%= link_to 'Destroy',
        @paper, method: :delete,
        data: { confirm: 'Are you sure?' },
        class: "btn-flat" %>
</div>
<% end %>

<h1 id="paper-title">
    <em><%= @paper.title %></em>
    by
    <%= get_list_name(@paper.get_authors) %>
</h1>
<p id="published-at">
    <p>Published on <%= @paper.created_at.strftime("%Y-%m-%d") %></p>
</p>
<% if ! @paper.pdf_url.nil? %>
    <%= link_to raw('↓ PDF'),
        @paper.pdf_url,
        class: "btn" %>
<% end %>

<blockquote id="abstract">
    <%= @paper.abstract %>
</blockquote>

<div class="card blue-grey lighten-4">
    <div class="card-content">
        <p><%= @paper.html_content.html_safe %></p>
    </div>
</div>


<% if current_user.should_review? @paper %>

<%= link_to 'Start the review',
    new_reviewer_path(@paper.id),
    class: "btn" %>

<% elsif current_user.is_reviewing? @paper %>

<%= link_to 'Start the review',
    edit_reviewer_path(@paper.get_review_by(current_user)),
    class: "btn" %>

<% elsif current_user.wrote? @paper %>

<%= link_to 'See all reviews',
    reviewers_path(@paper.id),
    class: "btn" %>
  <% end %>

<div> </div>

<%= link_to 'Back',
    papers_path,
    class: "btn-flat" %>
