<%
    authors = @paper.get_authors_as_name_list(initials: true)
    provide(:title, "« #{@paper.title} » by #{authors}" )
%>
<p id="notice"><%= notice %></p>



<P class="DEBUG">
  <strong> (<%= @paper.paper_type unless @paper.category.blank? %>) </strong> /
  <%= get_paper_status(@paper.status) if @paper.status %> /
  <%= link_to @paper.category.name, @paper.category unless @paper.category.blank? %>
</P>



<h1>
  <span itemprop="title"><%= @paper.title %></span>
</h1>


<% if logged_in? %>

<div class="reviews-stuff">

<%= if current_user.is_editor? # EDITOR: ASK REVIEWS

  if @paper.all_reviews_done?
    render 'reviews/partials/validate'
  elsif @paper.can_be_reviewed?
    render 'reviews/partials/new'
  elsif @paper.is_pending_opinion?  # EDITOR: IF OPINION, ONLY VALIDATE
    render 'reviews/partials/new_opinion'
  end
end  %>

<%= link_to "Read the reviews",
  reviews_path(@paper.id),
  class: "btn-flat" if current_user.is_editor? %>

<% if current_user.wrote?(@paper) && @paper.all_reviews_done? %>

<div class="row">
  <h3>Your paper has been reviewed.</h3>
  <div class="col l4 m12 s12">
    <p> Read the reviews </p>
    <p><%= link_to 'Read the reviews', reviews_path(@paper.id), class: "btn" %></p>
  </div>
  <div class="col l4 m6 s12">
    <p>Please read the reviews and update your paper consequently.</p>
    <p><%= link_to 'Update your paper', edit_paper_path(@paper), class: "btn" %></p>
  </div>
  <div class="col l4 m6 s12">
    <p>Once your paper is edited, please ask the editor to review it again</p>
    <p><%= link_to 'Ask editor ', edit_paper_path(@paper), class: "btn" %></p>
  </div>
</div>

<%#  SEE REVIEWS  %>
  <% elsif current_user.should_review?(@paper) %>

      <%= link_to 'Start reviewing',
        new_review_path(@paper.id),
        class: "btn red" %>

    <% elsif current_user.is_reviewing?(@paper) %>

      <%= link_to 'Continue or edit your review',
        edit_review_path(@paper.id, @paper.get_review_by(current_user)),
        class: "btn color2bg" %>

    <% elsif current_user.reviewed?(@paper) %>

      <%= link_to 'See your review',
        review_path(@paper.id, @paper.get_review_by(current_user)),
        class: "btn" %>


  <% end  # end reviews %>
  </div>
<% end # end if logged_in? %>



<%# UNPUBLISHED PAPER: CONTENT IS NOT AVAILABLE %>
<% if @paper.is_refused? %>

  <p class="notice error">
    This paper has been refused. <br />
    It is therefore not accessible to the public.
  </p>

<% elsif @paper.is_under_review? %>

  <p class="notice">
    This paper is currently under review. <br />
    It will be made available once the peer-review process is finished.
  </p>
<% end %>



<div class="row">

  <!-- Metadata -->
  <div class="col l3 push-l9">

    <% if logged_in? && current_user.wrote?(@paper) %>
      <div class="right-align">
          <%= link_to 'Edit', edit_paper_path(@paper), class: "btn-flat" %>
          <%= link_to 'Delete', @paper, method: :delete, data: { confirm: t('paper.delete.confirmation') },
              class: "btn-flat waves-effect waves-red" %>
      </div>
    <% end #  if author %>

    <div class="card">
      <div class="card-content">
        <p>
          <span class="small-title">Authors</span>
          <span itemprop="authors">
            <% @paper.get_authors.each do |author| %>
            <%= link_to "#{author.full_name}", author %>
            <% end %>
          </span>

          <% unless @paper.publication_date.blank? %>
          <p itemprop="date-published">
              <span class="small-title">Published</span>
              <%= @paper.publication_date.strftime("%d %B %Y") %>
          </p>
          <% end %>

          <% unless @paper.keywords.blank? %>
          <p itemprop="keywords">
              <span class="small-title">Keywords</span>
              <% keywords = JSON.parse @paper.keywords %>
              <%= keywords.each { |keyword| "<div class='chip'>#{keyword}</div>" } %>
          </p>
          <% end %>

          <%= link_to raw('↓ PDF'), @paper.pdf_url, class: "btn" unless @paper.pdf_url.blank? %>

        </p>
      </div>
    </div> <!-- end card -->

  </div>



  <!-- Content -->
  <div class="col l9 pull-l3">

      <p id="abstract">
        <span class="small-title">abstract</span>
        <%= @paper.abstract.html_safe unless @paper.abstract.blank? %>
      </p>

      <% if @paper.is_published? ||
            (logged_in? &&
               (current_user.wrote?(@paper) ||
                current_user.is_editor? ||
                current_user.is_reviewer_of?(@paper))) %>
      <%# TODO person.can_see_paper?(@paper)  %>

        <h3>Content</h3>

        <blockquote id="content">
          <p><%= @paper.html_content.html_safe unless @paper.html_content.blank? %></p>
        </blockquote>

      <% end %><!-- end content -->

  </div>





</div>
