<%
    provide(:title, "« #{@paper.title} » by #{get_list_name(@paper.get_authors, true)}" )
%>

<p id="notice"><%= notice %></p>

<p>
    <strong> <%= @paper.paper_type %> </strong>
    /
    <%= @paper.category.name %>
    /
    <% if @paper.status == 1 %>
     Accepted
    <% elsif @paper.status == 0 %>
     Rejected
    <% else %>
     Pending
    <% end %>
</p>

<div class="right-align">
    <%= link_to 'Edit',
        edit_paper_path(@paper),
        class: "btn-flat" %>

    <%= link_to 'Destroy',
        @paper, method: :delete,
        data: { confirm: 'Are you sure?' },
        class: "btn-flat" %>
</div>

<h1 id="paper-title">
    <em><%= @paper.title %></em>
    by
    <%= get_list_name(@paper.get_authors) %>
</h1>

<% if ! @paper.pdf_url.empty? %>
    <%= link_to raw('↓ PDF'),
        @paper.pdf_url,
        class: "btn" %>
<% end %>

<blockquote id="abstract">
    <%= @paper.abstract %>
</blockquote>

<div class="card blue-grey lighten-4">
    <div class="card-content">
        <strong>Content:</strong>
        <p><%= @paper.html_content %></p>
    </div>
</div>

<%= link_to 'Review this article',
    new_reviewer_path(@paper.id),
    class: "btn" %>

<%= link_to 'See all reviews',
    reviewers_path(@paper.id),
    class: "btn" %>

<div> </div>

<%= link_to 'Back',
    papers_path,
    class: "btn-flat" %>
