<%
  # rendered in from papers/show

  # current_reviews = @paper.get_reviews
  possible_reviewers = get_possible_reviewers_for(@paper)
%>

  <p class="card-title">Ask for reviews</p>

  The paper has currently <%= @paper.count_reviews %> reviews.

  <%= form_for Review.new, :url => reviews_path(@paper.id) do |f| %>

    <%= f.label :editor_remarks %>
    <%= f.text_area :editor_remarks, class: "materialize-textarea" %>

    <%= f.label :reviewers %>
    <%= select("review", "reviewers",
          possible_reviewers.collect {|person| [person.full_name, person.id]},
          {prompt: 'Please choose reviewers'},
          {:multiple => true}) %>

    <button type="submit" class="btn color2bg">
      Ask reviews <i class="material-icons right">send</i>
    </button>


  <% end %>
