<%
  # rendered in from papers/show

  # current_reviews = @paper.get_reviews
  possible_reviewers = get_possible_reviewers_for(@paper)
  reviews_count = @paper.count_last_reviews

%>

<% if reviews_count == 0 %>

  The paper is not yet reviewed.

<% elsif reviews_count > 3 %>

  The paper has already <%= reviews_count %> reviews (maximum).

<% else %>

  The paper has currently <%= reviews_count %> reviews.

<% end %>

<% if reviews_count > 0 %>

  <%= link_to "Read the reviews", reviews_path(@paper.id), class: "btn-flat" if current_user.is_editor? %>

<% end %>
<% if reviews_count < 4 %>
  <h3>Ask for reviews</h3>

  <%= form_for Review.new, :url => reviews_path(@paper.id) do |f| %>

    <%= f.label :editor_remarks %>
    <%= f.text_area :editor_remarks, class: "materialize-textarea" %>

    <%= f.label :reviewers %>
    <%= select("review", "reviewers",
          possible_reviewers.collect {|person| [person.full_name, person.id]},
          {prompt: 'Please choose reviewers'},
          {:multiple => true}) %>

    <button type="submit" class="btn color2bg">
      Ask reviews <i class="material-icons right">send</i>
    </button>
  <% end # end form %>

<% end %>
