<ul class="collection">
  <% reviews.each do |review| %>

<%
editor = Person.find(review.editor_id)
reviewer = Person.find(review.reviewer_id)
%>

  <li>
    <% unless from == 'paper'%>
    <p class="title"><%= link_to review.paper.title, review.paper %></p>
    <% end %>

    <p> Authors:
      <span itemprop="authors">
        <% review.paper.get_authors.each do |author| %>
        <%= link_to "#{author.full_name}", author %>
        <% end %>
      </span>
    <br />
      <%= from == 'home_reviewer' ? 'Asked by' : 'Editor' %>
      <%= link_to editor.full_name, editor %> <%= "(you)" if editor == current_user %>
    <br />
    <% if (current_user.is_editor? || current_user.is_admin?) && from != 'home_reviewer' %>
      Reviewer:
      <%= link_to reviewer.full_name, reviewer %>
    <% end %>
    </p>

    <span class="new badge <%= review_get_color_progression(review.progression) %>" data-badge-caption="">
      <%= 'progression: '+review.progression if review.progression %>
    </span>
    <span class="new badge <%= review_get_color_status(review.status) %>" data-badge-caption="">
      <%= 'status: '+get_review_status(review.status) if review.status %>
    </span>

    <%= link_to 'Read review',
    review_path(review.paper.id, review.id),
    class: "waves-effect waves-light btn-flat"  %>

  </li>

<% end %>
</ul>
