<%
  Review.where(editor_id: 11).pluck(:paper_id).uniq.each do |papers_concerned_id|
  paper = Paper.find(papers_concerned_id)
%>

<div class="card">
  <div class="card-content">

    <p class="title">
      <strong>
        <%= link_to paper.title, paper %>
        by <%= paper.get_authors_as_name_list %>
      </strong>
    </p>

    <ul class="collection">
    <% Review.where(editor_id: 11, paper_id: papers_concerned_id).each do |review| %>
    <li>

      <p>
        <% unless current_user.is_editor? %>
        <%= link_to review.progression=='pending' ? 'Start to review' : 'Continue your review',
        review_path(paper.id, review.id),
        class: "waves-effect waves-light btn"  %>
        <% end %>
      </p>

      <i
        title="<%=review.progression%> - <%=get_review_status(review.status)%>"
        class="material-icons <%=review_get_color_status(review.status)%>-text">
        <%= case review.progression
          when 'done' then 'done'
          when 'ongoing' then 'hourglass_full'
          when 'pending' then 'hourglass_empty'
          end
        %>
        </i>

        Asked <%= distance_of_time_in_words(Time.now, review.created_at) %> ago.
        <br />

        <% if review.editor != current_user %>
          Asked by <%= link_to review.editor.full_name, review.editor %> <br />
        <% end %>

        <% if current_user.is_editor? || current_user.is_admin? %>
          Reviewer:
          <%= link_to review.reviewer.full_name, review.reviewer %> <%= "(you)" if review.reviewer == current_user %>
        <% end %>

      </li>
      <% end # each review %>
    </ul>
    
    <% if (paper.all_reviews_done?) %>
      <p>
        <%= link_to "read reviews", reviews_path(paper.id), class: 'btn-flat' %>
        <%= link_to "send feedback #{icon_feedback}".html_safe, ask_paper_revision_notif_path(paper.id), class: 'btn-flat' %>
        <%= link_to "publish #{icon_publish}".html_safe, accept_paper_path(paper.id), class: 'btn-flat' %>
        <%= link_to "refuse #{icon_refuse}".html_safe, refuse_paper_notif_path(paper.id), class: 'btn-flat' %>
      </p>
    <% end %>

  </div>
</div>

<% end # each paper %>
