<%

 # REVIEW LIST DETAILS: SEEN FROM ARTICLE BY EDITOR AND AUTHOR
 # SEPARATE AND ORDER BY ROUND

%>

<ul class="collapsible" data-collapsible="expandable">
  <% reviews.order(status: :asc).each_with_index do |review, index| %>

  <li>
    <div class="collapsible-header">
      <% unless review.conflict_of_interest.blank? %>
      <i class="material-icons right" title="Conflict of interest">warning</i>
      <% end %>

      <span class="review">
        <a href="<%=review%>">
        <i
          title="<%= logged_in? && current_user.is_editor? ? "by #{review.reviewer.full_name}" : ""%>
          <%=review.progression%> - <%=get_review_status(review.status)%>"
          class="material-icons <%=review_get_color_status(review.status)%>-text">
          <%= case review.progression
            when 'done' then 'done'
            when 'ongoing' then 'hourglass_full'
            when 'pending' then 'hourglass_empty'
            end
          %>
          </i>
        </a>
      </span>

      <% if current_user.is_editor? %>
        Reviewer:
        <%= link_to review.reviewer.full_name, review.reviewer %>
        <%= "(you)" if review.reviewer == current_user %>
      <% else %>
        Read review <%= index %>
      <% end %>
    </div> <!-- end header -->

    <div class="collapsible-body">

       <span class="badge right <%= review_get_color_progression(review.progression) %>">
         <%= "progression: #{review.progression}" if review.progression %>
       </span>
       <span class="badge right <%= review_get_color_status(review.status) %>">
         <%= "status: #{review.status}" if review.status %>
       </span>
       <span class="badge right">
         <%= 'Asked on: '+ review.created_at.strftime("%d %B %Y") %>
       </span>

      <p>
        Asked by: <%= link_to review.editor.full_name, review.editor %>
        <%= "(you)" if review.editor == current_user %>
      </p>

      <% unless review.conflict_of_interest.blank? %>
      <p class="right">
        <i class="material-icons">warning</i> <strong>Conflict of interest </strong>
        <%= review.conflict_of_interest %>
      </p>
      <% end %>

      <p>
        <strong>Review</strong>
        <%= review.content unless review.content.blank? %>
      </p>

    </div>
  </li>

  <% end %>
</ul>
