<div class="center">
  <p> This paper has been reviewed <% @paper.count_last_reviews %> times. </p>
  <%= render 'reviews/partials/short_preview', :reviews => @paper.get_last_reviews %>
  <br />
   <%= link_to "Read the reviews", reviews_path(@paper.id), class: "btn" if current_user.is_editor? %>
  <br />
  <!--Score: <%= @paper.get_reviews_score %> % -->
  <button class="btn-flat"> Ask another reviewer </button>
</div>


<div class="row center">

  <p class="col m4 s12">
    <a href="<%= ask_paper_revision_notif_path(@paper.id) %>" class="btn-flat btn-waves"
      title="If you estimate the paper needs corrections...">
      Ask a revision <i class="material-icons right color1">send</i>
    </a>
  </p>

  <p class="col m4 s12">
    <a href="<%= accept_paper_path(@paper.id) %>" class="btn-flat btn-waves"
      title="If the article has already been corrected and can be published in this state">
      Accept the article <i class="material-icons right green-text">done</i>
    </a>
  </p>

  <p class="col m4 s12">
    <a href="<%= refuse_paper_notif_path(@paper.id) %>" class="btn-flat btn-waves"
      title="If the article, despite corrections, does not bear enough quality to be published">
      Refuse the article <i class="material-icons right red-text">clear</i>
    </a>
  </p>

</div>
