<%= form_for(category) do |f| %>
  <% if category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(category.errors.count, "error") %> prohibited this category from being saved:</h2>

      <ul>
      <% category.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :parent_category %>
    <select id="paper_category" name="paper[category_id]">
        <option disabled selected>Category</option>
        <% Category.all.each do |cat| %>
        <option value="<%=cat.id %>"><%= cat.name %></option>
        <% end %>
    </select>
  </div>

  <div class="field">
    <%= f.label :names %>
    <%#= f.text_field :names %>
    <div id="keywords" class="chips chips-placeholder" data-name="Name"></div>
  </div>


  <input type="hidden" name="category[names]" value="">


  <div class="actions">
    <%= f.submit 'Save', :class => 'btn' %>
  </div>
<% end %>
