<p id="notice"><%= notice %></p>


<nav>
  <div class="nav-wrapper blue-grey lighten-2">
    <div class="col s12">

      <% get_parents(@category, 5).each do |category| %>
      <a href="<%= category_path(category) %>" class="breadcrumb"><%= category.name %></a>
      <% end %>

    </div>
  </div>
</nav>

<%= render 'papers/partials/paper_list', :papers => @papers %>

<% if logged_in? && current_user.is_admin? %>
<%= link_to 'Edit',
  edit_category_path(@category),
  class: "btn-flat" %>

<%= link_to 'Delete',
  @category, method: :delete,
  data: { confirm: 'Are you sure?' },
  class: "btn-flat waves-effect waves-red" %>

<% end %>
