<p id="notice"><%= notice %></p>


<nav>
  <div class="nav-wrapper blue-grey lighten-2">
    <div class="col s12">
      <% if @category.parent_category %>
      <a href="#!" class="breadcrumb"><%= @category.parent_category.name %></a>
      <% end %>
      <a href="#!" class="breadcrumb"><%= @category.name %></a>
    </div>
  </div>
</nav>

<%= render 'papers/elements/paper_list', :papers => Paper.where(category_id: @category.id) %>

<% if logged_in? && current_user.is_admin? %>
<%= link_to 'Edit',
  edit_category_path(@category),
  class: "btn-flat" %>

<%= link_to 'Delete',
  @category, method: :delete,
  data: { confirm: 'Are you sure?' },
  class: "btn-flat" %>

<% end %>
