<%= form_for @review, :url => review_path  do |f| %>

  <% # POST: Error return ? %>
  <% if review.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(review.errors.count, "error") %> prohibited this review from being saved:</h2>
      <ul>
      <% review.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :status %>
    <p>
      <input name="review[status]" type="radio" id="accepted" value="3" />
      <label for="accepted">
        <i class="green-text tiny material-icons">check_circle</i>
        Accepted
        <!-- This paper is perfect: it should happen only after a first peer review. Paper will be okay for publication -->
      </label>
    </p>
    <p>
      <input name="review[status]" type="radio" id="minor" value="2" />
      <label for="minor">
        <i class="yellow-text tiny material-icons">feedback</i> <!-- edit -->
        Need minor modifications
        <!-- the paper has some errors, but is overall scientificaly correct -->
      </label>
    </p>
    <p>
      <input name="review[status]" type="radio" id="major" value="1" />
      <label for="major">
        <i class="orange-text tiny material-icons">warning</i>
        Need major modifications
        <!-- This paper has many or serious flows in reasonning or protocol, but publishing could still be possible. Give a extensive list of the points to change  -->
      </label>
    </p>
    <p>
      <input name="review[status]" type="radio" id="refused" value="0" />
      <label for="refused">
        <i class="red-text tiny material-icons">error</i>
        Refused
        <!-- This paper has serious flaws in it, and cannot be published. Please explain precisely why -->
      </label>
    </p>
    <!-- <select name="review[status]">
        <option disabled selected>— Choice —</option>
        <option value="3">Accepted</option>
        <option value="2">Need minor modifications</option>
        <option value="1">Need major modifications</option>
        <option value="0">Rejected</option>
    </select> -->
  </div>

  <div class="field">
    <%= f.label 'Comments on the article' %>
    <textarea id="content" name="review[content]" class="materialize-textarea" length="5000">
<%= @review.content %></textarea>
  </div>

   <div class="switch">
    <label>
      Mark as Done:
      <input name="review[progression]" type="checkbox" value="done">
      <span class="lever"></span>
      If selected, you will not be able to modify your review after saving
    </label>
  </div>


<br><br>

  <div class="actions">
    <%= f.submit 'Save', :class => "btn" %>
  </div>
<% end %>
