<h1>
  ask a revision
</h1>

<p>
  Your are asking a revision on the paper <%= link_to @paper.title, @paper %> by <%= @paper.get_authors_as_name_list %>
</p>

<p>Please try to summarize the reviews below</p>

<% if @paper.reviews_count > 0 %>
  <h2>All reviews</h2>
  <%= render 'reviews/partials/review_list_details', :reviews => @paper.get_reviews %>
<% else %>
  <%= render 'reviews/partials/review_list_details', :reviews => @paper.get_last_reviews%>
<% end %>

<div class="divider"></div>

<%= form_for Review.new, :url => ask_paper_revision_path() do |f| %>

  <div class="field">
    <%= f.label 'please note principal points to review' %>
    <%= f.text_area :content, class: "materialize-textarea" %>
  </div>

  <div class="actions">
    <%= f.submit "Send", :class => "btn" %>
  </div>
<% end # form %>
