<% provide(:title, "Review / « #{@paper.title} »") %>

<%
  editor = Person.find(@review.editor_id)
  reviewer = Person.find(@review.reviewer_id)
%>
<p id="notice"><%= notice %></p>

<h1>Review</h1>


<p>
  Paper: <strong><%= link_to @review.paper.title, @review.paper %></strong>
</p>
<p>
  Review asked by <%= link_to editor.full_name, editor %>
</p>

<% if current_user.is_editor? %>
  <p>
    Reviewed by <%= link_to "#{reviewer.full_name}", reviewer %>
  </p>
<% end %>

<p>Progression:
<span class="notice-bg inline <%= review_get_color_progression(@review.progression) %>">
  <%= @review.progression if @review.progression %>
</span>
</p>


<% unless @review.status.blank? %>
<p>Status:
  <span class="notice-bg inline <%= review_get_color_status(@review.status) %>">
    <%= get_review_status(@review.status) %>
  </span>
</p>
<% end %>

 <% unless @review.conflict_of_interest.blank? %>
  <p>
    <i class="material-icons">warning</i> <strong>Conflict of interest </strong>
    <%= @review.conflict_of_interest %>
    </p>
  <% end %>

<% unless @review.content.blank? %>
<div class="card blue-grey lighten-4">
  <div class="card-content">

    <blockquote>
      <%= @review.content %>
    </blockquote>

  </div>
</div> <!-- end card -->
<% end %>


<% if current_user.wrote_review?(@review) && @review.progression != 'done' %>
  <%= link_to "Edit",
      edit_review_path(@review),
      class: "btn" %>

  <%= link_to "Destroy",
     @review,
     method: :delete,
     data: { confirm: 'Are you sure?' },
     class: "btn-flat waves-effect waves-red" unless current_user.asked_review?(@review) %>
<% end %>
