<nav>
  <div class="nav-wrapper">

    <%= render 'layouts/partials/menu_title' %>

    <ul class="right hide-on-med-and-down">
      <li><%= link_to "Papers", papers_path %> </li>
      <li><%= link_to "Browse ↓",
        categories_path,
        class: "dropdown-button",
        :'data-activates' => "list-categories" %> </li>
      <li><%= link_to "About", about_path %></li>

      <% unless path_is('static_pages', 'home') %>
      <li><%= link_to "Log in", login_path, class: 'btn color1bg' %></li>
      <li><%= link_to "Sign up", signup_path, class: 'btn color2bg' %></li>
      <% end %>
    </ul>
  </div>
</nav>

<!-- DROPDOWNS -->
<!-- Categories -->
<ul id="list-categories" class="dropdown-content">
  <li><%=link_to ' View all', categories_path %></li>
  <% Category.where(parent_category: nil).all.each do |category| %>
  <li><%= link_to category.name.capitalize, category_path(category) %></li>
  <% end %>
</ul>

<!-- Nav Mobile -->
<ul id="nav-mobile" class="side-nav">
  <li><%= link_to 'Papers', papers_path %> </li>
  <li><%=link_to 'Categories', categories_path %></li>

  <div class="collapsible-body" style="display: block;">
    <ul>
    <% Category.where(parent_category: nil).all.each do |category| %>
      <li><%= link_to category.name.capitalize, category_path(category) %></li>
    <% end %>
    </ul>
  </div>

  <li><%= link_to "Log in", login_path, class: 'btn color1bg' %></li>
  <li><%= link_to "Sign up", signup_path, class: 'btn color2bg' %></li>
</ul>
