<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" >
  <%= favicon_link_tag("favicon.svg") %>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta name="theme-color" content="#0b8668" />
</head>
<body>

  <% if logged_in? %>
    <% if current_user.is_editor? %>
    <%= render 'layouts/header_editor'  %>
    <% else %>
    <%= render 'layouts/header_logged'  %>
    <% end %>
  <% else %>
    <%= render 'layouts/header'  %>
  <% end %>

  <%=
  unless (params[:debug].nil?)
    debug(params)
    get_path
  end
  %>

  <main class="container">

    <% flash.each do |key, value| %>
      <%= content_tag :div, value, class: "flash #{key}" %>
    <% end %>

    <%= yield %>

  </main>

  <%= render 'layouts/footer'  %>

</body>
</html>
